body {
    text-align: center;
    background-size: cover;
}

.heading {
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
}

canvas {
    border: blue solid 3px;
    border-radius: 20px;
    margin-top: 200px;
}